@import url("https://fonts.googleapis.com/css2?family=Jost&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Jost", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body::-webkit-scrollbar {
  width: 1px;
  height: 4px;
  background-color: rgba(170, 170, 170, 0.56);
}

body::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.289);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a,
p,
h1,
h2,
h3,
span,
input,
img,
select,
div,
button,
svg {
  -webkit-tap-highlight-color: transparent;
}
